.site-footer{
  border-top: 1px solid #ccc;
  display:flex;
  justify-content: space-between;
  position:absolute;
  bottom:0;
  width: 99%;
  height: 2.5rem;
}
h1{
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  margin: 0;
}
li{
  display: inline-block;
  margin: 1.4em 1em 1em 1em ;
}

